<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Art Buddy</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Hanken Grotesk' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    </head>
    <body>
        <nav id="navbar">
            <div class="island">
                <a class="navbtn bold specialtxt" href="/"><i class="bi bi-brush-fill"></i> ArtBuddy</a>
            </div>
            <div id="navisland" class="island">
                <a class="navbtn"><i class="bi bi-search"></i> Explore</a>
                <a class="navbtn"><i class="bi bi-archive"></i> Art Bank</a>
                <a class="navbtn"><i class="bi bi-upc-scan"></i> Art Scan</a>
            </div>
        </nav>
        <main>
            
        </main>
    </body>
</html>
